NEXT_PUBLIC_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_SALT=0x8f4a2d3c1e5b6a798091a2b3c4d5e6f708192a3b4c5d6e7f8a9b0c1d2e3f405162738
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.arc.io
NEXT_PUBLIC_FALLBACK_RPC_URL=https://rpc.testnet.arc.io
NEXT_PUBLIC_EXPLORER_URL=https://explorer.arc.io
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=demo
SKEIN_REPLAY=1
OPENAI_API_KEY=
